<div class="form-group">
  <%= f.label :title, class: 'sr-only' %>

  <div class="input-group">
    <%= render 'button_search' %>

    <%= f.input_field :title, placeholder: 'Pesquisar' %>
  </div>
</div>
