<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"> <%= link_to entity.name, entity %></h4>

    <%= entity.presentation.truncate(300).html_safe %>
  </div>
</div>
