Olá <%= @user.name %>,

<p>
  Para prosseguires com a redefinição de sua senha, <br>
  clique no link abaixo ou cole na barra do navegador.
</p>

<%= link_to @url, @url %>

<h5><%= link_to "Bolsa de Emprego", root_url %></h5>
