<h2>Novo Registro</h2>

<div class="row" id="register-buttons">
  <div class="col-md-12">
    <%= link_to 'Sou uma entidade', new_entity_path, class: 'btn btn-success btn-lg btn-block' %>
    <%= link_to 'Sou um candidato', new_candidate_path, class: 'btn btn-primary btn-lg btn-block' %>
  </div>
</div>
