<h3>Candidaturas</h3>

<div class="row">
  <div class="col-xs-6 offers">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="..." alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Ruby Developer</h4>
        Lorem ipsum dolor sit amet, mea viris mentitum cu, scripta interesset
        eu quo. Eu fugit fierent percipit cum. Ius dolorem mandamus id.
        Quo ut primis insolens, augue phaedrum persequeris mel an.
      </div>
    </div>

    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="..." alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Ruby Engineer</h4>
        Lorem ipsum dolor sit amet, mea viris mentitum cu, scripta interesset
        eu quo. Eu fugit fierent percipit cum. Ius dolorem mandamus id.
        Quo ut primis insolens, augue phaedrum persequeris mel an.
      </div>
    </div>

    <h3>Empresas interessadas em mim</h3>

    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="..." alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Wiremaze</h4>
        Lorem ipsum dolor sit amet, mea viris mentitum cu, scripta interesset
        eu quo. Eu fugit fierent percipit cum. Ius dolorem mandamus id.
        Quo ut primis insolens, augue phaedrum persequeris mel an.
      </div>
    </div>
  </div>

  <div class="col-xs-4 col-xs-offset-2 links">
    <h3>Candidato</h3>

    <%= link_to 'Editar Dados', [:edit, @candidate], class: 'btn btn-primary' %>
    <%= link_to 'Alterar Password', '', class: 'btn btn-warning' %>
  </div>
</div>
