<h2>Ofertas</h2>

<div class="row">
  <div class="col-xs-6 offers">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="..." alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Middle aligned media</h4>
        ...
      </div>
    </div>

    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="..." alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Middle aligned media</h4>
        ...
      </div>
    </div>
  </div>

  <div class="col-xs-4 col-xs-offset-2 links">
    <h2>Entidade</h2>

    <%= link_to 'Editar Dados', edit_entity_registration_path(@entity), class: 'btn btn-primary' %>
    <%= link_to 'Alterar Password', '', class: 'btn btn-warning' %>
  </div>
</div>
