@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.btn-submit {
  margin-left: 16px;
}

.navbar-top {
  margin-left: -15px;
}

.links {
  margin-top:-63px;

  & h2 {
    margin-bottom: 10px;
  }
}

#login {
  padding: 40px 40px;
  margin-top: 100px;

  & .btn {
    padding-left: 55px;
    padding-right: 55px;
  }
}

#register-buttons .btn-block {
  padding:50px;

  &:first-of-type {
    margin: 10px 0 30px 0;
  }
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

.navigation {
  padding-left: 0px;

  & li {
    display: inline;
  }
}

.interested-candidates {
  margin-top: 100px;
}

.btn-insert {
  margin: 20px 0 30px 0;
}
