@import "bootstrap-sprockets";
@import "bootstrap";

.btn-submit {
  margin-left: 16px;
}

.offers {
  margin-top: 20px;
}

.navbar-top {
  margin-left: -15px;
}

.entity-links {
  margin-top:-63px;
}
