<ul class="navigation" role="navigation">
  <li><%= link_to 'Home', backoffice_root_path %></li> |
  <li><%= link_to 'Utilizadores', backoffice_users_path %></li> |
  <li><%= link_to 'Notícias', backoffice_news_index_path %></li>
</ul>
