<!DOCTYPE html>
<html>
<head>
  <title>BolsaDeEmpregos</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->
</head>
<body>
  <header>
    <div class="container">
      <h1>Bolsa de Empregos</h1>

      <nav class="navbar navbar-top">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Brand</a>
          <a class="navbar-brand" href="#">Brand</a>
        </div>
      </nav>
    </div>
  </header>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
